.~*
.coverage
.DS_Store
.env
.vscode/*
*.code-workspace
*.md5
*.pyc
*.swp
*~
/anima/env/blender/addons/cgru_tools/
/tests/dcc/maya/test_data/texture.rstexbin
anima.egg-info/*
build/*
dist/*
docs/build/*
docs/source/generated/*
Thumbs.db