.~*
.cache/*
.coverage*
.DS_Store
.env
.mypy_cache/
.pytest_cache
.tox/
.venv/
.vscode/
*.code-workspace
*.egg-info
*.md5
*.pyc
*.swp
*~*
anima.egg-info/*
anima/dcc/blender/addons/cgru_tools/
build/*
dist/
dist/*
docs/build/*
docs/doctrees/*
docs/html/*
docs/latex/*
docs/source/generated/*
docs/source/generated/*
htmlcov
include/*
local
tests/dcc/maya/test_data/texture.rstexbin
Thumbs.db